<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="menu" id="myMenu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/create">New Article</a></li>
			<li><a href="/all">List All</a></li>
			<li><a href="/static">Admin</a></li>
			<li class="icon">
			    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
			</li>
		</ul>
	</div>
	<img src="<%= post.image %>" alt="image" style="max-height: 300px; max-width: 300px;">
	<form action="" method="post" class="editForm">
		<h3><%= post.title %></h3>
		<div><%= post.body %></div>
		<div>Views: <%= post.views %></div>
		<button type="submit"><%= buttonText %></button>	
	</form>
	<form action="/details/<%= post.id %>/comment" method="post">
		<input type="text" name="username" placeholder="Username" required>
		<input type="text" name="comment" placeholder="Comment" required>
		<input type="submit" name="submit" value="Comment">
	</form>
	<h2>Comments:</h2>
	<ul><%- comments %></ul>
</body>
</html>